*
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body
{
    border-top: 50px solid orange;
    border-bottom: 50px solid greenyellow;
    background-color: white;
}
.container
{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    background-color: blue;
}