*
.shapes{
    display: grid;
    background-color: blanchedalmond;
    width: 100px;
    height: 200px;
}
.sh-1
{
    background-color: aquamarine;
    width: 70px;
    height: 40px;
}
.sh-2
{
    background-color: blueviolet;
    width:  100px;
    height: 30px;

}
.sh-3
{
    background-color: chocolate;
    width: 60px;
    height: 20px;
}
.sh-4{
    background-color: crimson;
    width: 80px;
    height: 25px;
}
.sh-5{
    background-color: chartreuse;
}